div {
  width: 200px;
  height: 30px;
  background-color: yellow;
  margin: 10px 0 10px 45px;
  font-size: 30px;
  /* minus border */
  padding: 20px;
  border: black solid 5px;
  color: red;
}

.top {
  margin-top: 30px;
}
