body {
  font-size: 18px;
}

h1 {
  font-weight: bold;
}

div {
  width: 200px;
  height: auto;
  padding: 40px 40px;
  border: black solid 3px;
  margin-bottom: 20px;
}

.top {
  background: url(duck.png) no-repeat left center;

}

.mid {
  background: url(duck.png) no-repeat center;
}

.bot {
  background: url(duck.png) no-repeat right bottom;
}
