$body-color: #50e3c2;
$todo-color: #f7f7f7;
$button-color: #ffffff;
$todoText-color: #ABABAB;
$pink: #df69e8;

$font: Lato, sans-serif;
$fontSize-heading: 64px;
$fontSize-todo: 26px;

body {
  background: $body-color;
}

.container {
  margin: 50px auto;
  width: 450px;
  background: $todo-color;
  color: $todoText-color;
  font: $font;
}

.app {
  width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

h1 {
  text-align: center;
  font-size: $fontSize-heading;
  font-weight: 300;
  padding: 30px 0;
  margin: 0;
}

form {
  display: flex;
  height: 40px;
}

input,
button {
  box-sizing: border-box;
  flex: 1 0 auto;
  height: 40px;
}

button {
  border: none;
  font-size: $fontSize-todo;
  background: $pink;
  color: white;
}

ul {
  font: $font;
  color: $todoText-color;
  list-style-type: none;
  padding: 0 0 40px 0;
  line-height: 2.2em;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-size: $fontSize-todo;
  max-height: 70px;
}
// 
// .options {
//   position: absolute;
//   top: 0;
//   right: 0;
// }

.option-delete,
.option-check {
  display: inline-block;
  width: 30px;
  height: 100%;
}

.option-delete {
  background: url('bin.png') no-repeat center ;
}

.option-check {
  border-radius: 50%;
}
